build/
build-*/
dist/
assets/*
!assets/vita.png
debug/
*.exe
*.o
*.gch
*.a
*.obj
*.pdb
*.ilk
*.d
*.depend
*.map
compile_commands.json
.venv/
.cache/
.vs/
.idea/
*.swp
*~
*.log
memcards/

*.velf
*.elf
*.sfo
*.vpk
*.bin
*.self
*.xdelta
*.xa
*.xnf
.build-temp/*
website/*
*.pyc